/* 
	Flannel Reset
		AUTHOR 		Amy Coleman
		COMPANY		Flannel Studios
		URL 		http://flannelstudios.com/	
		GIT REPO	https://github.com/amyworks/
		LICENSE		GNU General Public License 3.0
*/

	/*
		FONT NAME QUICK REFERENCE
		https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat

		  --Normal: 	font-family: 'Alegreya', Georgia, 'Times New Roman', serif;
		  --Alt Norm: 	font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
		  --Heading:	font-family: 'Alegreya Sans SC', Helvetica, Arial, sans-serif;
		  --Heading: 	font-family: 'Alegreya SC', Georgia, 'Times New Roman', serif;
	*/

html, body, embed, iframe, object, code, header, footer, nav, section, article, aside, details, summary, hgroup, 
a, img, canvas, figure, audio, video, mark, time, div, p, span, menu, ul, ol, li, dd, dt, dl,
h1, h2, h3, h4, h5, h6, pre, big, small, strong, sub, sup, em, del, ins, var, b, u, i,
blockquote, cite, caption, figcaption, q, dfn, abbr, acronym, address, form, label, fieldset, kbd, output,
table, legend, tbody, thead, tfoot, tr, th, td, ruby {
	/* Margin, padding, border */
	margin: 0; padding: 0; border: 0;
	/* Font */
	font-family:Georgia, 'Times New Roman', serif; 
	font-size: 1em;
	/* Alignment */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
header, hgroup, footer, nav, section, article, aside, menu, details, figcaption, figure {
	display: block;
}

/* Basic Formatting */
body {
	line-height: 1;
	background:#ededed url(img/white-wood.jpg) no-repeat center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	color:#484848;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Deprecated elements */ 
center, tt, b, u, i, basefont, font, dir, applet, isindex, menu, s, strike, plaintext, listing, xmp {
	margin:0; padding:0; border:0; vertical-align: baseline;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	CLASS HELPERS

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.block{display:block;}
.inline {display:inline;}
.rounded-border {border-radius:10px;}
.float-left{float:left;}
.float-right{float:right;}
.clearfix::after { /* clears a floated element -- see https://www.w3schools.com/howto/howto_css_clearfix.asp for details */
	content: "";
    clear: both;
    display: table;
}
.element-center {margin:0 auto !important;}
.text-center{text-align:center;}
.text-right {text-align: right;}
.padded {padding:30px;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	TYPOGRAPHY STYLING

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* --------------------------------- 
   Normal Text 
   --------------------------------- */
p {
	font-size:1.15em;
	line-height: 1.5em;
}

/* --------------------------------- 
   Headings 
   --------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-decoration: none;
}
h1 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:3em;
	text-transform: uppercase;
	padding:30px 30px 0 30px;
	letter-spacing: 10px;
	margin-top:30px;
	border-top: 1px solid #333;	
	background: rgba(255,255,255,0.7);
}
h2 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:2.5em;
	padding:0 0 0 0;
}
h3 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:2em;
	padding:0 0 10px 0;
	text-transform: uppercase;
}
h4 {
	font-family: Georgia, 'Times New Roman', serif;
	font-style:italic;
	font-size:1em;
	padding:20px 0 10px 0;
	color:#f45b41;
}
h5 {
	font-family: 'Montserrat', sans-serif;
	font-size:.75em;
	padding:0 0 0 0;
}
h6 {
	font-family: 'Montserrat', sans-serif;
	font-size:.5em;
	padding:0 0 0 0;
}

/* --------------------------------- 
   Emphasizing 
   --------------------------------- */
strong, b {
	font-weight:bold; /* change to value >100 or use {font-family: font-name-weight} */
}
em, i {
	font-style:italic;  /* change to {font-family: font-name-style} */
}
.underline {
	text-decoration:underline;
}

/* --------------------------------- 
   Lists 
   --------------------------------- */
ol {
	list-style-type: decimal;
	margin:0 0 0 40px;
}
ul {
	list-style-type: disc;
	margin:0 0 0 40px;
}
li {
	line-height:1.5em;
	padding:0 0 20px 0;
}
li:last-child {
	padding:0 0 20px 0;
}

/* ---------------------------------
   Quoting, citing, and highlighting 
   --------------------------------- */
sub, sup {
	font-size:.5em;
	padding-left:2px;
}
sub {  /* subscript styling */
	vertical-align:sub;
}
sup { /* superscript styling */
	vertical-align:super;
}
blockquote {
	quotes:none;
}
blockquote:before, blockquote:after {
	content: none;
}
q {
	quotes:'"' '"' "'" "'";
}
q:before {
	content:open-quote;
}
q:after {
	content:close-quote;
}
.highlight {background:#ffee00;}

img {
	max-width:100%;
	padding-bottom: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	ELEMENT HELPERS

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ---------------------------------
   Header and footer 
   --------------------------------- */
header.main {
	text-align:center;
}
header.main p {
	padding-bottom:30px;
	border-bottom: 1px solid #333;
	font-style: italic;
	background: rgba(255,255,255,0.7);
	color:#bca79a;
}
footer p {
	margin:50px 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:.75em;
}
footer p span {
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}

/* ---------------------------------
   Header navigation 
   --------------------------------- */
nav.main-nav {
	max-width:1200px;
	text-align:center;
	margin:0 auto;
}
nav.main-nav ul {
	list-style: none;
	margin:0 auto;
}
nav.main-nav ul li {
	float:left;
	line-height:1em;
	padding:0 50px 0 0;
	color:#ededed;
}
nav.main-nav ul li:last-child{
	padding:0 0 0 0;
}
nav.main-nav ul li a {
	color:#fff;
}

/*==============================================

	Custom Classes

  ==============================================*/

.recipe {

}
.recipe-header {

}
.recipe-title {
	width:50%;
	margin:0 auto;
	text-align:center;
	background:#222;
	color:#ededed;
	padding:30px 30px 0 30px;
	border-top:6px double #fff;
	text-transform: uppercase;
}
.recipe-subtitle {
	font-size:1em;
	line-height:1;
	font-style: italic;
	text-align: center;
	width:50%;
	margin:0 auto 30px auto;
	text-align:center;
	background:#222;
	color:#ededed;
	padding:0 30px 30px 30px;
	-webkit-border-bottom-left-radius: 50%;
	-webkit-border-bottom-right-radius: 50%;
	-moz-border-radius-bottomleft: 50%;
	-moz-border-radius-bottomright: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;	
	border-bottom:6px double #fff;
}
.recipe-description {
	background:rgba(188,167,154,0.7);
	padding:20px;
	font-size:1em;
	font-style: italic;
}
ul.recipe-meta {
	list-style-type: none;
	margin:20px 0;
	padding:10px;
	background:rgba(255,255,255,0.7);
	border-top:1px solid #bca79a;
	border-bottom:1px solid #bca79a;
}
	ul.recipe-meta li, ul.recipe-meta li strong {
		font-family: 'Montserrat', sans-serif;
		line-height: 1;
	}
	ul.recipe-meta li {
		float:left;
		padding-right:30px;
		padding-bottom:0;
	}
	ul.recipe-meta li strong {
		color:#f45b41;
	}
	.fa-star, .fa-star-half {
		color:#f4c441;
	}
.recipe-image {
	margin-bottom:30px;
}
.recipe-ingredients {
	padding:20px;
	background:rgba(188,167,154,0.4);
	border-top:1px solid #bca79a;
	border-bottom:1px solid #bca79a;
}
	.recipe-ingredients ul li {		
		font-family:'Montserrat', Helvetica, Arial, sans-serif;
		font-size:.8em;
		font-weight: 100;
		padding-bottom:10px;
	}
	input.recipe-servings {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
		color:#f45b41;
		font-size:1em;
		background:transparent;
		border-style: hidden hidden solid hidden;
		border-width:1px;
		padding-left:5px;
		border-color: #222;
		width:50px;
	}
.recipe-instructions {
	padding:20px 30px 40px 20px;
	background:rgba(255,255,255,0.7);
	border-top:1px solid #bca79a;
	border-bottom:1px solid #bca79a;
}
.recipe-notes {
	margin-top:30px;
	padding:40px;
	background:rgba(255, 247, 232, 0.7);
	border-top:1px solid #bca79a;
	border-bottom:1px solid #bca79a;
}
	.recipe-notes h3 {
		padding-bottom:20px;
	}
	.fa-lightbulb {
		color:#f4c441;
	}

input, textarea, button, select {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
	Flannel Grid
		AUTHOR 		Amy Coleman
		COMPANY		Flannel Studios
		URL 		http://flannelstudios.com/	
		GIT REPO	https://github.com/amyworks/
		LICENSE		GNU General Public License 3.0
*/

/* -----------------------
	Normalize
   ----------------------- */

.fg-row {
	max-width:1000px;
	margin:0 auto;
}
.fg-row-padded {
	max-width:1200px;
	margin: 30px auto;
}
.fg-row-padded h2:nth-child(2) {
	padding-top:100px;
}
.fg-col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}
.fg-col-padded {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	padding:20px;
}
.full-width {
	width:100%;
	margin:0 auto;
}


/* -----------------------
	Half columns
   ----------------------- */
.half, .two-quarter, .three-sixth {
	width:47%;	
	margin-right:6%;
}
.half:last-child, .two-quarter:last-child, .three-sixth:last-child {
	margin-right:0;
}

/* -----------------------
	Third columns
   ----------------------- */
.third, .two-sixth {
	width:29.33%;	
	margin-right:6%;
}
.two-third, .four-sixth {
	width:64.66%;
	margin-right:6%;
}
.third:last-child, .two-sixth:last-child {
	width:29.34%;
	margin-right:0;
}
.two-third:last-child, .four-sixth:last-child {
	width:64.67%;
	margin-right:0;
}

/* -----------------------
	Quarter columns
   ----------------------- */
.quarter {
	width:20.5%;	
	margin-right:6%;
}
.three-quarter {
	width:73.5%;
	margin-right:6%;
}
.quarter:last-child, .three-quarter:last-child {
	margin-right:0;
}

/* -----------------------
	Fifth columns
   ----------------------- */
.fifth {
	width:16%;	
	margin-right:5%;
}
.two-fifth {
	width:37%;
	margin-right:5%;
}
.three-fifth {
	width:58%;
	margin-right:5%;
}
.four-fifth {
	width:79%;
	margin-right:5%;
}
.fifth:last-child, .two-fifth:last-child, .three-fifth:last-child, .four-fifth:last-child {
	margin-right:0;
}

/* -----------------------
	Sixth columns
   ----------------------- */
.sixth {
	width:11.66%;	
	margin-right:6%;
}
.five-sixth {
	width:82.33%;
	margin-right:6%;
}
.sixth:last-child {
	width:11.67%;
	margin-right:0;
}
.five-sixth:last-child {
	width:82.34%;
	margin-right:0;
}



/*==============================================

	RESPONSIVE TWEAKS

  ==============================================*/

/* -----------------------
	Tablets - Landscape
   ----------------------- */
@media screen and (max-width: 1199px) {
	.fg-row {
		margin:0 50px;
	}
	.third, .two-sixth, .two-third, .four-sixth, .sixth, .five-sixth {
		width:29.33%;	
		margin-right:6%;
	}
	.third:last-child, .two-sixth:last-child, .two-third:last-child, .four-sixth:last-child, .sixth:last-child, .five-sixth:last-child {
		margin-right:0;
	}
	.quarter, .three-quarter, .fifth, .two-fifth, .three-fifth, .four-fifth {
		width:47%;
		margin-right:6%;
	} 
	.quarter:last-child, .three-quarter:last-child, .fifth:last, .two-fifth:last-child, .three-fifth:last-child, .four-fifth:last-child {
		margin-right:0;
	}

}

/* -----------------------
	Tablets - Portrait
   ----------------------- */
@media screen and (max-width: 960px) {
	.fg-row {
		margin:0 30px;
	}
	.third:last-child, .two-sixth:last-child, .two-third:last-child, .four-sixth:last-child, .quarter:last-child, .three-quarter:last-child, 
	.fifth:last-child, .two-fifth:last-child, .three-fifth:last-child, .four-fifth:last-child, .sixth:last-child, .five-sixth:last-child {
		margin-right:0;
	}
	/* CUSTOM ELEMENTS */
	h3 {
		font-size: 1.5em;
	}
}

/* -----------------------
	Smartphones - Landscape
   ----------------------- */
@media screen and (max-width: 780px) {
	.fg-row {
		margin:0 30px;
	}
	.half, .two-quarter, .three-sixth, .third, .two-sixth, .two-third, .four-sixth, .quarter, 
	.three-quarter, .fifth, .two-fifth, .three-fifth, .four-fifth, .sixth, .five-sixth,
	.half:last-child, .two-quarter:last-child, .three-sixth:last-child, .third:last-child, 
	.two-sixth:last-child, .two-third:last-child, .four-sixth:last-child, .quarter:last-child, 
	.three-quarter:last-child, .fifth:last-child, .two-fifth:last-child, .three-fifth:last-child, 
	.four-fifth:last-child, .sixth:last-child, .five-sixth:last-child  {
		width:100%;
	}
	.third:last-child, .two-sixth:last-child, .two-third:last-child, .four-sixth:last-child, .quarter:last-child, .three-quarter:last-child, 
	.fifth:last-child, .two-fifth:last-child, .three-fifth:last-child, .four-fifth:last-child, .sixth:last-child, .five-sixth:last-child {
		margin-right:0;
	}
	/* CUSTOM ELEMENTS */
	h3 {
		font-size: 1.5em;
	}
	.recipe-ingredients {
		margin-bottom:40px;
	}
}

/* -----------------------
	Smartphones
   ----------------------- */
@media screen and (max-width: 660px) {
	.fg-row {
		margin:0 17px;
	}
	.fg-col {
		float:none;
		padding:30px;
	}
	.half, .two-quarter, .three-sixth, .third, .two-sixth, .two-third, .four-sixth, .quarter, 
	.three-quarter, .fifth, .two-fifth, .three-fifth, .four-fifth, .sixth, .five-sixth,
	.half:last-child, .two-quarter:last-child, .three-sixth:last-child, .third:last-child, 
	.two-sixth:last-child, .two-third:last-child, .four-sixth:last-child, .quarter:last-child, 
	.three-quarter:last-child, .fifth:last-child, .two-fifth:last-child, .three-fifth:last-child, 
	.four-fifth:last-child, .sixth:last-child, .five-sixth:last-child  {
		width:100%;
	}

	/* CUSTOM ELEMENTS */
	body {
		background-size:100%;
		width:100%;
	}
	header.main h1 {
		font-size:1.5em;
	}
	header.main p {
		font-size:.75em;
	}
	.recipe-subtitle {
		font-size:.75em;
	}

}